<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ballit Championship</title>
</head>
<body>
    <h1>Bem-vindo ao Ballit Championship</h1>
    <nav>
        <a href="/teams">Cadastrar Times</a>
        <a href="/start">Iniciar Campeonato</a>
    </nav>
</body>
</html>
